/* You can add global styles to this file, and also import other style files */
:root {
  --dark-primary-color: #222222;
  --dark-secondary-color: #141414;
  --form-error-color: red;
}

body {
  height: 100vh;
  background-color: var(--dark-primary-color);
}

.aia__error {
  font-size: 12px;
  color: var(--form-error-color);
}
