<div class="container-fluid h-100">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-12 col-md-5">
      <form [formGroup]="signInForm" (ngSubmit)="onSubmitForm()">
        <div class="row">
          <div class="col-12">
            <input
              class="form-control"
              type="text"
              formControlName="username"
              placeholder="Username"
            />
            <span
              class="aia-error"
              *ngIf="
                usernameControl?.invalid &&
                (usernameControl?.dirty || usernameControl?.touched)
              "
            >
              Username is required
            </span>
          </div>
          <div class="col-12">
            <input
              class="form-control"
              type="password"
              formControlName="password"
              placeholder="Password"
            />
            <span
              class="aia-error"
              *ngIf="
                passwordControl?.invalid &&
                (passwordControl?.dirty || passwordControl?.touched)
              "
            >
              Password is required</span
            >
          </div>
          <button
            class="col-12 btn btn-success"
            [disabled]="signInForm.invalid"
          >
            Sign In
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
